<div class="container">

<div class="row">

 <div class="col-md-4"></div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-4">
	<h2 class = "ctal smallpadding">Sign up</h2>

  <form class="form-horizontal">
   <div class="form-group">
  	 <div class="smallpadding ">
    <%= f.input :email, label: false, required: true, autofocus: true, input_html: {class: 'form-control smallpadding'}, placeholder: 'Email'%>
	 </div>
   </div>

   <div class="form-group">
		<div class="smallpadding">
      		<%= f.input :password, label: false, required: true, input_html: {class: 'form-control smallpadding'},placeholder: 'Password' %> <!--hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)-->
    	</div>
  </div>

  <div class="form-group">
		<div class="smallpadding">
    		<%= f.input :password_confirmation, required: true, input_html: {class: 'form-control smallpadding'}, label:false, placeholder: 'Confirm Password' %>
    	</div>
  </div>

  <div class="form-group">
    <div class="ctal smallpadding">
    	<br>
    	<%= f.button :submit, "Sign up", class: 'btn btn-primary btn-lg btn-custom btn-red btn-block'   %>
    	<br>
   		 <%= render "devise/shared/links" %>
  	</div>
   </div>
  </form>
 </div>
</div>

<% end %>
</div>
