<div class="container">

<div class="row">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="col-md-4 col-md-offset-4">
	<h2 class = "smallpadding ctal">Log in</h2>

<form class="form-horizontal">
  <div class="form-group">
  	<div class="smallpadding ">
    	<%= f.input :email, label: false,required: false, autofocus: true, input_html: {class: 'form-control smallpadding'}, placeholder: 'Email'%>
  </div>
</div>

  <div class="form-group">
   <div class="smallpadding">
 	  <%= f.input :password, label: false, required: false, input_html: {class: 'form-control smallpadding'},placeholder: 'Password' %>
   </div>
  </div>

  <div class="form-group">
	<div class = "checkbox">

     <%= f.input :remember_me,  as: :boolean if devise_mapping.rememberable? %>
    </div>
  </div>

   <div class="form-group">
     <div class="ctal smallpadding">
    	<br>
      	<%= f.button :submit, "Log in", class: 'btn btn-primary btn-lg btn-custom btn-red btn-block'  %>
        <br>
		<%= render "devise/shared/links" %>
    </div>
  </div>
 </div>
<% end %>
</div>

</div>

<style media="screen">
  .footer { display: none !important; }
</style>
