<%= simple_form_for(@post, html: { class: 'form-horizontal', multipart: true}, wrapper: :horizontal_form ) do |f| %>
  <%= f.error_notification %>

  <h3 class="">What is your cause?</h3>

    <p>Describe the specific cause you want to voice out. This will become the headline that can attract attention in an instant.</p>
    <form class="form-horizontal">
      <div class="form-group">
     <div class="smallpadding formcustom ">
    <%= f.input :title, label: false, required: true, autofocus: true, input_html: {class: 'form-control smallpadding'}, placeholder: 'Write a heading'%>
   </div>
   </div>
   <hr>
   <h3 class="">Who can make this change?</h3>

    <p>You can select the Minister or Member of Parliament who has the power to support your cause. You can select upto 2, be specific!</p>
   <%= f.association :ministers,label: false, placeholder: 'Start typing...', class: 'form-control smallpadding', label_method: :name, collection: Minister.all %>

   <hr>
   <h3 class="">Voice out your cause. </h3>
    <p>Explain your cause in detail. How do you propose change? what impact will it have on Sri Lanka?</p>
     <div class = "formcustom2">
   <%= f.input :content, label: false, placeholder: 'Voice out..', input_html: {class: 'form-control smallpadding', rows: 10} %>
  </div>
   <hr>
   <h3 class="">Add a Photo </h3>
    <p>Content with photos usually recieve more supporters</p>
     <div class="smallpadding ">
    <%= f.input :cover, as: :file, label: false %>
    </div>

    <hr>
    <h3 class="">Create a conversation </h3>
     <p>Specify a #hashtag so we can monitor and promote your cause through social media. This will help others to voice their
     opinion and give more exposure.</p>
      <div class="smallpadding ">
     <%= f.input :hashtag, label: false, placeholder: '#voiceslk', input_html: {class: 'form-control smallpadding'} %>
     </div>


  <hr>

  <div class="form-group">
    <div class="smallpadding ">
    <%= f.button :submit,"Submit Cause", class: 'btn btn-primary btn-lg btn-custom btn-red btn-block' %>
  </div>
</div>
 </form>
<% end %>

<script>
// $(function() {
//     $('#post_minister_ids').selectize(options);
// });

$(document).ready(function(){
   $('#post_minister_ids').selectize({
      delimiter: ',',
      maxItems: 2,
      persist: false,
      create: function(input) {
          return {
              value: input,
              text: input
          }
      }
   });
});
</script>
