<div class="container">
  <p id="notice"><%= notice %></p>


    <div class="row text-center hero-banner">
    <div class="col-md-12">
      <div>
         <%= image_tag('par.jpg', class: 'heroimg') %>
      </div>
      <h1>Digitizing democracy, one cause at a time</h1>
    </div>
    <div class="col-md-12">
      <%= link_to 'Start a Cause', new_post_path, class: 'btn btn-primary btn-lg btn-line btn-red' %>
    </div>
  </div>


  <div class="row hero-story">
    <div class="col-md-6">
      <%= image_tag @special.cover.url, class: 'img-responsive' %>
    </div>
    <div class="col-md-6 body">
      <%= link_to @special do %>
        <h2><%= @special.title %></h2>
      <% end %>
      <p>
        <%= truncate(@special.content, length: 200) %>
        <%= link_to 'Read More', @special %>
      </p>
      <div class="meta">
        posted by <a href="#">John Doe</a>
      </div>
      <div class="vote-btns">
        <%= link_to upvote_post_path(@special), method: :patch, class: 'btn btn-danger btn-custom btn-red' do %>
          <i class="fa fa-thumbs-up fa-fw fa-sm"></i>Support This
        <% end %>
        <%= link_to downvote_post_path(@special), method: :patch, class: 'btn btn-danger btn-custom btn-red' do %>
          <i class="fa fa-thumbs-down fa-fw fa-sm"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row cards">
    <% @posts.each do |post| %>
    <div class="col-md-8 card">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag post.cover.url(:thumb), class: 'img-responsive' %>
        </div>
        <div class="col-md-8">
          <%= link_to post do %>
            <h3><%= post.title %></h3>
          <% end %>
          <div class="mps">
            <%= link_to root_path, { data: { toggle: 'tooltip', placement: 'top', title: 'Ravi Karunanayaka' }} do %>
              <%= image_tag('ravi4.jpg', class: 'img-circle small-thumb') %>
            <% end %>
            <%= link_to root_path, { data: { toggle: 'tooltip', placement: 'top', title: 'Anura Kumara Disanayaka' }} do %>
              <%= image_tag('anura.jpg', class: 'img-circle small-thumb') %>
            <% end %>
          </div>
          <p>
            <%= "#{pluralize(post.get_upvotes.size, 'person')}" %> support this
          </p>
          <div class="card-vote-btns">
            <%= link_to upvote_post_path(post), method: :patch, class: 'btn btn-danger btn-custom btn-grey' do %>
              <i class="fa fa-thumbs-up fa-fw fa-sm"></i>
            <% end %>
            <%= link_to downvote_post_path(post), method: :patch, class: 'btn btn-danger btn-custom btn-grey' do %>
              <i class="fa fa-thumbs-down fa-fw fa-sm"></i>
            <% end %>
          </div>

        </div>
      </div>
    </div>


      <!-- <tr>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Upvote', upvote_post_path(post), method: :patch %></td>
        <td><%= link_to 'Downvote', downvote_post_path(post), method: :patch %></td>
        <td>Upvotes: <%= post.get_upvotes.size %></td>
      </tr> -->
    <% end %>
  </div>

</div>

<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
</script>
