
<div class="container">
  <div class="row post">
    <p id="notice"><%= notice %></p>

    <div class="col-md-7">
      <div class="cover">
        <%= image_tag @post.cover.url, class: 'img-responsive' %>
      </div>
      <div class="desc">
        <%= @post.content %>
      </div>
      <!--DISQUs -->
      <div id="disqus_thread"></div>
      <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'voiceslk';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>

    <div class="col-md-5">
      <div class="title">
        <h1 class="medium-text"><%= @post.title %></h1>
      </div>
      <div class="mps">
        <p>
          <%= image_tag('ravi4.jpg', class: 'img-circle small-thumb') %>
          Ravi Karunanayake
        </p>
        <p>
          <%= image_tag('anura.jpg', class: 'img-circle small-thumb') %>
          Anura Kumara Disanayaka
        </p>
        <p>
        </p>
      </div>

      <div class="page-votes">
        <%= "#{pluralize((@post.get_upvotes.size + 2) * 246, 'voice')}" %>
      </div>

      <% if @post.liked_by current_user %>
      <h4>Thank you for your response</h4>
      <% else %>
        <div class="vote">
          <%= link_to upvote_post_path(@post), method: :patch, class: 'btn btn-primary btn-lg btn-line btn-red' do %>
            <i class="fa fa-thumbs-up fa-fw fa-lg"></i>Support this Cause
          <% end %>
          <%= link_to upvote_post_path(@post), method: :patch, class: 'btn btn-primary btn-lg btn-line btn-red' do %>
            <i class="fa fa-thumbs-down fa-fw fa-lg"></i>
          <% end %>
        </div>
      <% end %>

      <div class="hashtag">
        <h3>Join the conversation with</h3>
        <h2><%= @post.hashtag %></h2>


      </div>
      <div class="share">
        <div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button"></div>
        <br>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="voiceslk">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>


      <!-- <div class="social-feed">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/voiceslk" data-widget-id="645478720157814784">#voiceslk Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div> -->
    </div>

  </div>

<!-- <p>
  <strong>Title:</strong>
  <%= @post.title %>
</p> -->

<!-- <p>
  <strong>Content:</strong>

</p> -->

<!-- <p>
  <strong>User:</strong>
  <%= @post.user %>
</p> -->
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</div>
